/* Navbar */

nav {
	padding: 15px 0;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 14px;
}

.navbar-default {
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
	background-color: #091F40;
	border: none;
	border-radius: 0;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.brand-img {
	border-radius: 50%;
	width: 50px;
	margin-top: 10px;
}

.navbar-brand {
	display: flex;
	align-items: center;
	justify-content: center;
}

.vwc-header {
	padding-left: 5px;
	padding-top: 10px;
	color: white;
	font-size: 1.2em;
	letter-spacing: 3px;
	margin-right: 100px;
}

.navbar-btn {
	border-radius: 2px;
	margin-right: 5px;
}

li a {
	color: white !important;
}

footer li a {
	color: black !important;
}


.nav-links li:hover {
	transition: 0.3s ease;
	border-bottom: 1px solid white;
}

.moon {
	background-color: #091F40;
	color: white;
	cursor: pointer;
}

.moon:hover {
	color: white;
}

.moon i {
	line-height: 35px;
}

.donate {
	background-color: #AB1534;
	border-radius: 2px;
}

.nav-links .donate:hover,
.nav-links .moon-li:hover {
	border-bottom: none;
}

.link-name {
	line-height: 30px;
}

@media (max-width: 1494px) {
	.navbar-header {
		float: none;
		padding-bottom: 10px;
	}

	.navbar-left,
	.navbar-right {
		float: none !important;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}

	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}

	.navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-nav {
		float: none !important;
		margin-top: 7.5px;
	}

	.navbar-nav>li {
		float: none;
	}

	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.collapse.in {
		display: block !important;
	}

	.nav-links li:hover {
		border-bottom: none;
	}

	.vwc-header {
		margin-right: 0;
	}
}

/* Dark Mode */

.dark-buttons {
	background-color: #203ec5;
	border: 1px solid var(--element-3);
}

.dark-buttons:hover {
	background-color: #c5203e;
	border: none;
}

.dark-background {
	background-color: #091f40;
	color: #fff;
}

/* Header */

.lead-in {
	color: #c5203e !important;
	font-style: italic;
	font-family: Open Sans,
		sans-serif;
	font-weight: 400;
	line-height: 29px;
	margin-bottom: 40px;
	font-size: .9375rem;
	text-align: center;
}

.job-search-description {
	font-style: italic;
	font-family: Open Sans,
		sans-serif;
	font-weight: 400;
	line-height: 29px;
	margin: 0 0 10px;
	text-align: left;
	font-style: normal;
	font-size: .9375rem;
	text-align: left;
}

h1 {
	display: block;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-size: 3.75rem;
	text-align: center;
	line-height: 1.1;
	font-weight: 900;
	font-family: Open Sans;
	font-weight: 900;
	margin-bottom: 48px;
	margin-top: 0;
	color: var(--element-3);
	margin: .67em 0;
}

/* Form */

.job-grabber {
	margin: 100px 0;
}

#submit-button {
	border-radius: 2px;
	font-size: .875rem;
	padding: 12px 0;
	text-align: center;
	transition: all .2s ease-in-out;
	width: 115px;
	text-transform: capitalize;
	background-color: #c5203e !important;
	background-image: none;
	border: 2 px solid black;
}

#submit-button:hover {
	border: none;
}

/* Grid */
.gridborder {
	border: 1px solid lightgrey;
}

/* footer */

footer {
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	margin-top: 100px;
}

.footer1-h {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	margin-bottom: 30px;
	font-size: 1.5rem;
}

.footer1 {
	background-color: #1A51A3;
	color: white;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
}

.site-link {
	color: white !important;
	margin-bottom: 10px;
}

.site-link:hover {
	color: #BD2843;
}

.footer2 {
	background-color: #091F40;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer2-header {
	color: #BDC3C7;
	font-weight: 700;
	margin-bottom: 20px;
	font-size: 1.3rem;
}

.footer3 {
	background-color: #091F40;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer3-anchor {
	color: white;
}

.footer3-anchor:hover {
	color: #EBA32F;
}

.footer3-p1 {
	display: inline;
}

.footer3-p2 {
	display: inline;
	margin-left: 0 auto;
}

.copyright {
	float: left;
}

.byVWC {
	float: right;
}

.footer-font-awesome:hover {
	color: lightblue;
}

.footer-font-awesome {
	color: white;
	margin-left: 20px;
	margin-right: 20px;
}

.footer-img {
	width: 30%;
}

.footer-icon {
	color: #f1cb2f;
}


.footer-li {
	list-style-type: none;
	margin-bottom: 10px;
}

.footer-div1 {
	padding-right: 50px;
}

.footer-div2 {
	padding-left: 50px;
}

.send-button {
	width: 100%;
	margin-top: 10px;
}

.flag-usa {
	width: 30px;
}

.flag-korea {
	width: 30px;
}

.div-dropdown {
	background-color: #286090;
}

.language-button {
	margin-top: 20px;
}

.group-email {
	margin-bottom: 10px;
}

.footer-p {
	line-height: 25px;
}

@media (max-width: 767px) {
	.copyright {
		float: none;
		text-align: center;
		display: block;
	}

	.byVWC {
		float: none;
		text-align: center;
		display: block;
	}
}