.VWC-img {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.footer {
    margin:auto;
    width:100%;
}

.footer-top {
    background-color: #0C0C0C;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding-top: 10px;
}

.footer-middle {
    background-color: #171919;
    color: white;
}

.footer-bottom {
    text-align: center;
    background-color: #171919;
    color: white;
    font-size: 1.5rem;
    
}

.footer-element {
    display: inline;
}

.element {
    text-align: center;
}