/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

:root {

	--light-mode: #eb6123;
	--dark-mode: #191919;
	--dark-red: #8a0303;
	--light-green: #60D88E;
	--off-white: #f8f8f8;
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	color: var(--off-white);
	background-color: var(--light-mode);
	font-size: 2em;
}

body.dark-theme {
	background-color: var(--dark-mode)
}

/*Loading Classes*/
.loading {
	background: url('../images/cute-zombie.gif') no-repeat center center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999999;
}

.cute-zombie {
	width: 10em;
}

.hide-if-loading {
	display: none;
}

/*End Loading*/

/* Nav Start */
nav {
	display: flex;
	overflow: hidden;
	justify-content: center;
	padding-top: 20px;
}

nav a {
	float: left;
	text-align: center;
	padding: 15px 18px;
	text-decoration: none;
	text-decoration-style: none;
	font-size: 1.2em;
}

nav a:link,
a:visited {
	text-decoration: none;
	color: var(--off-white);
}

nav a:hover {
	color: var(--light-green);
}

nav button {
	width: 5em;
	color: var(--light-green);
	margin-top: 6px;
	margin-left: 18px;
	padding: 8px;
	background-color: #575151;
	font-size: 1em;
	font-family: 'Creepster', cursive;
}

nav button.dark-theme {
	color: var(--light-mode);
}

nav button.dark-theme:hover {
	color: white;
}

nav button:focus {
	outline: rgb(24, 23, 23);
}

nav button:hover {
	color: var(--dark-mode);
}

.mobile-button {
	display: none;
}

li {
	display: inline;
}

 .hidden {
	display: none;
}

/* Nav End */

/* Title Start */
h1 {
	font-family: 'Creepster', cursive;
	color: var(--off-white);
	text-align: center;
	margin: 20px 0;
}

.blood {
	font-family: nosifer;
	font-size: 6em;
	padding-top: 1em;
	transition: all .25s ease;
	-webkit-text-stroke: 0.1px rgba(246, 186, 74, 1);
	animation: drip 2.5s infinite alternate;
}

.container {
	height: 65vh;
}

@keyframes drip {
	to {
		text-shadow:
			4px 4px 1px #300000,
			4px 6px 1px #400000,
			4px 8px 1px #500000,
			4px 10px 1px #600000,
			4px 12px 1px #700000,
			4px 14px 1px #800000,
			4px 16px 1px #900000,
			4px 18px 1px #A00000,
			4px 20px 1px #B00000,
			4px 22px 1px #C00000,
			4px 24px 1px #D00000,
			4px 26px 1px #E00000,
			4px 28px 1px #F00000,
			4px 30px 1px #FA0000,
			4px 32px 1px #FB0000,
			4px 34px 1px #FC0000,
			4px 36px 1px #FD0000,
			4px 38px 1px #FE0000,
			4px 40px 2px #FF0000;
	}
}

.arrow {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	height: 100%;
}

.arrow::after {
	content: "";
	width: 40px;
	height: 40px;
	margin: 70vh auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-right: 4px solid var(--light-green);
	border-bottom: 4px solid var(--light-green);
	transform: rotate(45deg);
	animation: 3s arrow infinite ease;
}

@keyframes arrow {

	0%,
	100% {
		top: 50px;
	}

	50% {
		top: 100px;
	}
}

/* Title End */

/* Content Start */
.zombie-tools {
	text-align: center;
}

.zombie-button {
	width: 7em;
	margin: .3em .3em;
	color: var(--light-green);
	background-color: #575151;
	font-size: 1em;
	font-family: 'Creepster', cursive;
	padding: 10px;
}

.zombie-button.dark-theme {
	color: var(--light-mode);
}

.zombie-button:focus {
	outline: rgb(24, 23, 23);
}

.zombie-button:hover {
	color: var(--dark-mode);
}

img {
	display: block;
	margin: 0 auto;
	width: 50%;
	padding: 50px 0;
}

p {
	line-height: 30px;
	color: var(--off-white);
	margin: 20px;
	padding: 0 11em;
	text-indent: 20px;
}

.intro {
	padding-bottom: 70px;
}

/* Content End */

/* Card Start */
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	height: 100%;
	display: inline-block;
	background-color: black;
	margin-bottom: 90px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 var(--off-white);
}

/* Card End */

/* Modal Start */
.trigger {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 1px solid red;
	background-color: black;
	margin-top: 5%;
	margin-bottom: 5%;
	color: white;
	font-size: 30px;
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 1rem 1.5rem;
	width: 75rem;
	border-radius: 0.5rem;
	color: black;
}

.close-button {
	float: right;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: lightgray;
}

.close-button:hover {
	background-color: darkgray;
}

.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#jump-scare {
	padding: 0 16px;
	text-align: center;
	font-size: 16px;
	height: 740px;
	background-color: black;
}

/* Modal End */

/* Footer Start */
footer {
	background-color: var(--dark-mode);
	color: var(--off-white);
	text-align: center;
	padding: 50px 0 10px 0;
}

footer.dark-theme {
	background-color: var(--light-mode);
}

.footer-container {
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
	display: flex;
	flex-direction: column;
}

.footer-col-2 {
	padding: 0 50px;
}

.footer-link {
	padding: 10px 0;
}

footer a,
.footer-link a {
	text-decoration: none;
    color: var(--off-white);
}

footer a:hover,
.footer-link a:hover {
	color: var(--light-green);
}

.footer-images {
	display: flex;
	justify-content: space-around;
}


.VetsWhoCode-img {
	width: 10%;
	height: 10%;
	border-radius: 50%;
	margin: 0;
    margin-right: 8%;
    padding: 0;
}

.GitHub-img {
	width: 10%;
	height: auto;
	margin: 0;
    margin-left: 8%;
    padding: 0;
}

/* Footer End */

/* Media Queries Start */
@media screen and (max-width: 1400px) {
	.blood {
		font-size: 3.5em;
	}
}

@media screen and (max-width: 800px) {
	.blood {
		font-size: 2em;
	}

	.container {
		height: 80vh;
	}

	img {
		width: 75%;
	}

	p {
		padding: 0;
	}

	.flex-container {
		text-align: center;
	}
	.card {
		width: 90%;
		margin: 0 auto 90px auto;
	}
}

@media screen and (max-width: 600px) {
	.blood {
		font-size: 1.6em;
		padding-top: 0;
	}

	.arrow {
		display: none;
	}

	nav {
		padding: 0;
	}

	nav a {
		font-size: 1em;
	}

	nav ul li {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	nav button {
		margin: 15px auto 0 auto;
	}

	.zombie-tools {
		margin-top: 200px;
	}

	.container h1 {
		display: none;
	}

	.hidden {
		display: initial;
	}

	p {
		text-indent: 0;
		text-align: center;
	}
}

@media screen and (max-width: 300px) {
	.blood {
		font-size: 1em;
	}
}